/* Default styles for desktop */
.sign-in-root {
    background-color: var(--green500);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.logo-container {
    background-color: var(--green300);
    height: 100vh;
    width: 44%;
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-image {
    height: 230px;
}

.logo-text {
    margin-top: 42px;
    font-size: 28px;
}

.custom-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 16px;
    width: 100%;
}

.form-control {
    margin-bottom: 20px;
}

.form-label {
    margin-bottom: 40px;
    font-size: 28px;
}

.sign-in-error-box {
    border-radius: 0.375rem;
    margin-bottom: 20px;
    width: 384px;
}

.long-sign-in-btn {
    width: 384px;
}

/* Mobile (≤ 768px) */
@media (max-width: 768px) {
    .sign-in-root {
        flex-direction: column-reverse;
    }

    .logo-container {
        background-color: var(--green300);
        height: 44%;
        width: 100vw;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 36px;
        border-bottom-right-radius: 36px;
    }

    .sign-in-error-box {
        border-radius: 0.375rem;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .long-sign-in-btn {
        max-width: 100%;
    }

    .custom-form-style {
        max-width: 100%;
    }
}
