.delete-modal-container {
    width: 400px;
    max-width: 400px;
}

.delete-modal-body {
    padding: 30px 24px !important;
}
.btn-outline-secondary {
    color: #5b5b5b;
}

.delete-button {
    flex: 1;
}

.delete-modal-error-box {
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    margin-bottom: 10px;
}

.delete-modal-text-h1 {
    font-size: 20px;
    text-align: center;
    color: #101828;
    margin-bottom: 8px;
}

.delete-modal-text-h2 {
    font-size: 16px;
    text-align: center;
    color: #475467;
    margin-bottom: 32px;
}

.delete-buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

@media (max-width: 575px) {
    .delete-modal-container {
        margin-left: 20px;
        width: calc(100vw - 32px);
        max-width: calc(100vw - 32px);
    }
}

@media (max-width: 475px) {
    .delete-modal-text-h2 {
        margin-bottom: 24px;
    }

    .delete-buttons-container {
        flex-direction: column-reverse;
    }
}
