.custom-modal-container {
    width: 685px;
    max-width: 685px;
}

.custom-modal-body {
    padding: 30px !important;
}

.modal-title {
    font-size: 28px;
}

.modal-dropdown-btn {
    width: 195px;
    .active {
        background-color: var(--green100) !important;
        color: var(--black) !important;
    }
}

.form-modal-text-area {
    resize: none;
    height: 234px;
}

.form-modal-error-box {
    width: 100%;
    border-radius: 0.375rem;
    margin-bottom: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    color: var(--black);
    margin-bottom: 30px;
}

.close-button {
    cursor: pointer;
}

.title-field-container {
    margin: 14px 0;
}

.detail-field-container {
    margin-bottom: 10px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}
