/* Default styles for desktop */
.board-root {
    background-color: var(--grey100);
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
}

.board-container {
    display: flex;
    padding-top: 60px;
    min-height: 100%;
    justify-content: space-between;
}

.side-bar-container {
    width: 280px;
    min-width: 280px;
}

.content-container {
    flex-shrink: 1;
    min-height: calc(100vh - 60px);
    flex: 1;
    padding-top: 36px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

/* Mobile (≤ 768px) */
@media (max-width: 768px) {
}
