/* Default styles for desktop */
.post-detail-root {
    width: 760px;
    padding: 0 20px;
}

.back-button {
    width: 44px;
    height: 44px;
    margin-bottom: 40px;
    background-color: var(--green100);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.owner-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.owner-name {
    color: var(--text);
    font-size: 14px;
}

.post-when {
    color: var(--grey300);
    font-size: 12px;
}

.post-title {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    color: #101828;
}

.post-detail {
    font-size: 12px;
    line-height: 14px;
    margin-top: 16px;
    color: var(--text);
}

.comments-summary-container {
    display: flex;
    align-items: center;
    margin-top: 28px;
}

.comments-count {
    margin-left: 5px;
    font-size: 12px;
    color: var(--grey300);
}

.add-comment-container {
    margin-top: 32px;
}

.custom-secondary-btn {
    font-size: 14px;
}

.text-area-container {
    margin-bottom: 10px;
}

.post-text-area {
    resize: none;
    height: 100px;
}

.comment-error-box {
    border-radius: 0.375rem;
    margin-bottom: 10px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.comments-container {
    margin-top: 24px;
}

.comment-container {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
}

.comment-user-img-container {
    width: 40px;
}

.comment-header-container {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 10px;
}

.comment-name {
    font-size: 14px;
    color: var(--text);
}

.comment-when {
    font-size: 12px;
    color: var(--grey300);
}

.comment-detail {
    font-size: 12px;
    color: var(--text);
}

/* Mobile (≤ 768px) */
@media (max-width: 768px) {
}
